*,*::before,*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(232, 232, 232);
    font-size: 0.95rem;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: min(1.2em, 8%);
}
nav{
    background-color: white;
    padding: min(.8em, 8%);
    display: flex;
    justify-content: center;
    gap: 5%;
}

nav a{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 0;
    transition: color 0.3s;
}

nav a::before,
nav a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;               
  background-color: black;
  transition: width 0.3s ease;
}

nav a::before {
  top: -5px;
  right: 0;
}

nav a::after {
  bottom: -5px;
  left: 0;
}

nav a:hover::before,
nav a:hover::after {
  width: 100%;            
}

nav a:hover {
  color: rgb(129, 129, 129); 
}

main{
    margin: 20px auto;
    padding:0px 20px;
}

.layout{

    background-color: white;
    padding: min(1.2em, 8%);
    border-radius: 5px;
}

.profile-section {

    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
}
.profile-pic img{
    
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width:180px;
    height:200px;
    border: 2px solid black;
}

.details{
    display: inline-block;    
}

.column{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.column p{

    margin-top: 10px;
    text-align: justify;
    font-size: 0.95rem;
    line-height: 1.5;
}

hr{
    height: 4px;
    background-color: black;
    margin: 10px 0;
}

li{
    margin: 10px 15px;
}

.favorite-item{

    margin-top: 15px;
}
.fav-content{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
}

.pic img{

    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width:180px;
    height:150px;
    border: 2px solid black;
}

footer{
    background-color: black;
    color: white;
    padding: min(1.5em, 8%);
    text-align: center;
    
}

