*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(232, 232, 232);
    font-size: clamp(1,8rem, calc(7vw + 1rem), 5rem);;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: min(1.2em, 8%);
}
nav{
    background-color: white;
    padding: min(.8em, 8%);
    display: flex;
    justify-content: center;
    gap: 5%;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration:;
}

main{
    margin: 20px auto;
    padding:0px 20px;
}

.layout{

    background-color: white;
    padding: min(1.2em, 8%);
    border-radius: 5px;
}

.profile-section {

    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;
}
.profile-pic img{
    
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width:180px;
    height:200px;
    border: 2px solid black;
}

.personal-details{
    display: inline-block;    
}

.column{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.column p{

    margin-top: 10px;
    text-align: justify;
    font-size: 0.95rem;
    line-height: 1.5;
}